<div class="container-fluid text-center">
    <i class="fa-solid fa-pizza-slice fa-10x mt-4"></i>
    <h3 class="text-muted fw-light mt-4">
        @ChildContent
    </h3>
</div>

@code {
    public RenderFragment? ChildContent { get; set; }
}
