@using System.Security.Claims
@inject NavigationManager _navigation

<div class="container-flex text-end mx-4">
    <AuthorizeView>
        <Authorized>
            <div>
                Hello, @context.User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).FirstOrDefault()
                <a href="#" @onclick="BeginSignOut">Log out</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login">Log in/Sign up</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private void BeginSignOut()
    {
        _navigation.NavigateToLogout("authentication/logout");
    }
}