@page "/search/{SearchTerm}"
@inject HttpClient _client
@inject NavigationManager _navigation

<PageTitle>Search Recipe - Blazing Cuisine</PageTitle>

<div class="container-fluid mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Search</li>
        </ol>
    </nav>
</div>

@if (_recipes is null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div class="container-fluid mt-4">
        <RecipeSearch IsHome=false></RecipeSearch>
        <h3 сlass="my-5">Search results for "@SearchTerm"</h3>
        <SearchFilter SearchTerm="@SearchTerm" OnFiltered="HandleUpdateFilters" Category="@Category" Difficulty="Difficulty" TimeInMinutes="TimeInMinutes"></SearchFilter>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <RecipeDetails Recipe="_selectedRecipe" />
                <div class="row">
                    @foreach (var recipe in _recipes)
                    {
                        <div class="col-lg-4 col-md-6 mt-4">
                            <RecipeCard Recipe="recipe" OnSelected="HandleTrailSelected"></RecipeCard>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    private GetRecipeHeaderDto? _selectedRecipe;
    private IEnumerable<GetRecipeHeaderDto>? _recipes;

    [Parameter]
    public string SearchTerm { get; set; } = default!;

    [Parameter, SupplyParameterFromQuery]
    public string Category { get; set; } = string.Empty;

    [Parameter, SupplyParameterFromQuery]
    public int? TimeInMinutes { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public int? Difficulty { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        try
        {
            var response = await _client.GetFromJsonAsync<ServiceResponse<List<GetRecipeHeaderDto>>>($"api/recipes/search?searchterm={SearchTerm}");

            if (response?.Data is not null)
                _recipes = response.Data;
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading recipes data: {ex.Message}");
        }

        await UpdateFilters();
    }

    private async Task UpdateFilters()
    {
        if (Category != string.Empty || TimeInMinutes != null || Difficulty != null)
        {
            var pointer = _navigation.Uri.IndexOf("?");
            var str = _navigation.Uri.Substring(pointer + 1);

            try
            {
                var response = await _client.GetFromJsonAsync<ServiceResponse<List<GetRecipeHeaderDto>>>($"api/recipes/search/pagination?searchTerm={SearchTerm}&page=1&pagesize=9&{str}");

                if (response?.Data is not null)
                    _recipes = response.Data;
            }
            catch (HttpRequestException ex)
            {
                Console.WriteLine($"There was a problem loading recipes data: {ex.Message}");
            }
        }
    }

    private void HandleTrailSelected(GetRecipeHeaderDto trail)
    {
        _selectedRecipe = trail;
    }

    private void HandleUpdateFilters()
    {
        _selectedRecipe = null;
    }
}
