@using BlazingCuisine.Client.Features.Auth
@using BlazingCuisine.Client.State
@inject AppState _appState
@implements IDisposable

<nav class="navbar mb-5 shadow">
    <a class="navbar-brand" href="/">
        <img class="mx-2" style="width: 100px;" src="/images/Logo.png"/>
        <span class="h3 text-lg-start">Blazing Cuisine</span>
    </a>
</nav>

<div class="container-fluid d-flex justify-content-between mx-3">
    <p>You have <span class="fw-bold">@_appState.FavoriteRecipeState.FavoriteRecipes.Count()</span><a href="/favorite-recipes"> favorite recipes</a></p>
    <LoginStatus />
</div>

@code {
    protected override void OnInitialized()
    {
        _appState.FavoriteRecipeState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _appState.FavoriteRecipeState.OnChange -= StateHasChanged;
    }
}
